<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.scdn.co/image/ab67616d0000b2736040effba89b9b00a6f6743a" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.scdn.co/image/ab67616d0000b2738093238ec0c71ef7c95c8fb1" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.scdn.co/image/ab67616d0000b273e2d156fdc691f57900134342" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
