.carousel {
    width:355px;
    height:200px;
  }



  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "pelicula musica";
  }
  
  .pelicula { grid-area: pelicula; }
  
  .musica { grid-area: musica; }
  