#icono{
    font-size: 30px;
    color: white;
    align-items: center;
    align-self: center;
    justify-content: center;
}



.grid-container {
    display: grid;
    grid-template-columns: 1.3fr 0.5fr 1.2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "leng leng leng";
  }
  
  .leng {
    display: grid;
    grid-template-columns: 1.8fr 0.4fr 0.8fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "img . progreso progreso"
      "img . progreso progreso";
    grid-area: leng;
  }
  
  .img { grid-area: img; }
  
  .progreso { grid-area: progreso; }
  